html
    head
        link(rel='stylesheet' href=getResource('main.css'))
        link(rel='stylesheet' href='style.css')

        title Code Free Camp
    body
        div(id='menu-circle' class='menu-circle', draggable='true') 
            a(href='./index.html')

        block main
            
script(src=getResource('layout.js'))

