@use '_variables' as *;

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-inter);
    margin: 0;
    padding:0;
}

h1,
h2,
h3 {
    margin-top: 0;
}

h1 {
    font-size: 28px;
    line-height: 1.1;

    @include md() {
        font-size: 24px;
    }
}

a, a:visited, a:active {
    text-decoration: none;
}

.container {
    padding: 0;
    max-width: 1110px;
    margin: 0 auto 46px;

    @include md() {
        padding: 0 25px;
    }
}

.menu-circle {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    position: fixed;
    bottom: 75px;
    right: 75px;
    background: rgb(255, 207, 0);
    background: radial-gradient(circle, rgba(255, 207, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);

    &:hover {
        cursor: pointer;
    }
}
