section(class='component-body')
    header(class=['header', 'container'])
        div(class='header__title')
            h1 Social Modia Dashboard 
            span(class='header__subtitle') Total Followers: 23,004

        fieldset(arial-label='them toggle' class='header__toggle toggle' role='radiogroup')
            div(class='toggle__wrapper')
                input(id='dark' type='radio' name='theme') 
                input(id='system' type='radio' name='theme') 
                input(id='light' type='radio' name='theme') 
                span(arial-hidden='true' class='toggle__background') 
                span(arial-hidden='true' class='toggle__button') 

            label(for='dark') Dark
            label(for='system') System
            label(for='light') Light

            div(class='radio-switch__inner')


    div(class='container')
        section(class='card card--facebook')
            div(class='card__platform')
                img(class='card__icon' src=getAsset('images/icon-facebook.svg', alt='Facebook'))
                div(class='card__username') &#064;nathanf
            
            div(class='card__followers')
                div(class='card__count card__count--big') 1987
                
                div(class='card__label') Followers

            div(class='card__change card__change--up') 
                img(src=getAsset('images/icon-up.svg') alt='up arrow')
                div(class='card__number') 12 Today

    div(class='attribution')
        | Challenge by 
        a(href='https://www.frontendmentor.io?ref=challenge' target='_blank') Frontend Mentor
        | . Coded by 
        a(href='#') Hanif
        |.
