header(class=['header', 'container'])
    div(class='header__title')
        h1 Social Modia Dashboard 
        span(class='header__subtitle') Total Followers: 23,004

    fieldset(arial-label='them toggle' class='header__toggle toggle' role='radiogroup')
        div(class='toggle__wrapper')
            input(id='dark' type='radio' name='theme') 
            input(id='system' type='radio' name='theme') 
            input(id='light' type='radio' name='theme') 
            span(arial-hidden='true' class='toggle__background') 
            span(arial-hidden='true' class='toggle__button') 

        label(for='dark') Dark
        label(for='system') System
        label(for='light') Light

        div(class='radio-switch__inner')


div(class='main')
    | @nathanf
    1987
    Followers
    12 Today

    | @nathanf
    1044
    Followers
    99 Today

    | @realnathanf
    11k
    Followers
    1099 Today

    Nathan F.
    8239
    Subscribers
    144 Today


    Overview - Today

    Page Views
    87
    | 3%

    Likes
    52
    | 2%

    Likes
    5462
    | 2257%

    Profile Views
    52k
    | 1375%

    Retweets
    117
    | 303%

    Likes
    507
    | 553%

    Likes
    107
    | 19%

    Total Views
    1407
    | 12%


div(class='attribution')
    | Challenge by 
    a(href='https://www.frontendmentor.io?ref=challenge' target='_blank') Frontend Mentor
    | . Coded by 
    a(href='#') Hanif
    |.
