extends ../layout.pug

block main
    h1 Code Free Camp Social Media Dashboard
    p This is a practice application based on the course from CodeFreeCamp


    h2 Technologies
    ul
        li express
        li gulp
        li pug
        li scss
